In [22]:
import pandas as pd

In [23]:
school = "raw_data/schools_complete.csv"
students = "raw_data/students_complete.csv"
school_pd = pd.read_csv(school,encoding ='iso-8859-1')
students_pd = pd.read_csv(students, encoding = 'iso-8859-1')
math_list =[]
reading_list=[]

In [24]:
school_rename = school_pd.rename(columns={"name": "School Name"})
students_rename = students_pd.rename(columns={"school": "School Name"})

In [25]:
merged_tables = pd.merge(school_rename, students_rename, on="School Name", how = "outer")

In [26]:
total_schools = school_pd["School ID"].count()
total_students = students_pd["name"].count()
total_budget = school_pd["budget"].sum()
Average_Math = students_pd["math_score"].mean()
Average_Reading = students_pd["reading_score"].mean()

In [27]:
for x in merged_tables["math_score"]:
    if x >=70:
        counter=1
    else:
        counter=0
    math_list.append(counter)
    counter=0
merged_tables["math"]=math_list
math_percentage=(merged_tables["math"].sum()/total_students)*100
math_percentage

74.980852693387803

In [28]:
for x in merged_tables["reading_score"]:
    if x>=70:
        counter=1
    else:
        counter=0
    reading_list.append(counter)
merged_tables["reading"]=reading_list
reading_percentage=(merged_tables["reading"].sum()/total_students)*100
reading_percentage

85.805463364820014

In [29]:
overall_pass = (reading_percentage+math_percentage)/2
overall_pass

80.393158029103915

In [30]:
district_summary_table=pd.DataFrame({"Total Students": total_students,
                                    "Total Budget": total_budget,
                                    "Average Math Score": Average_Math,
                                    "Average Reading Score": Average_Reading,
                                    "% Passing Math": math_percentage,
                                    "% Passing Reading": reading_percentage,
                                    "% Overall Passing Rate": overall_pass},index=[0])
district_summary_table

,% Overall Passing Rate,% Passing Math,% Passing Reading,Average Math Score,Average Reading Score,Total Budget,Total Students
0,80.393158,74.980853,85.805463,78.985371,81.87784,24649428,39170

In [31]:
summary_table = merged_tables.groupby(["School Name", "type"])
print(summary_table)
summary_table.count()

<pandas.core.groupby.DataFrameGroupBy object at 0x000002470DCCCBA8>

,,School ID,size,budget,Student ID,name,gender,grade,reading_score,math_score,math,reading
School Name,type,,,,,,,,,,,
Bailey High School,District,4976,4976,4976,4976,4976,4976,4976,4976,4976,4976,4976
Cabrera High School,Charter,1858,1858,1858,1858,1858,1858,1858,1858,1858,1858,1858
Figueroa High School,District,2949,2949,2949,2949,2949,2949,2949,2949,2949,2949,2949
Ford High School,District,2739,2739,2739,2739,2739,2739,2739,2739,2739,2739,2739
Griffin High School,Charter,1468,1468,1468,1468,1468,1468,1468,1468,1468,1468,1468
Hernandez High School,District,4635,4635,4635,4635,4635,4635,4635,4635,4635,4635,4635
Holden High School,Charter,427,427,427,427,427,427,427,427,427,427,427
Huang High School,District,2917,2917,2917,2917,2917,2917,2917,2917,2917,2917,2917
Johnson High School,District,4761,4761,4761,4761,4761,4761,4761,4761,4761,4761,4761
Pena High School,Charter,962,962,962,962,962,962,962,962,962,962,962
Rodriguez High School,District,3999,3999,3999,3999,3999,3999,3999,3999,3999,3999,3999
Shelton High School,Charter,1761,1761,1761,1761,1761,1761,1761,1761,1761,1761,1761
Thomas High School,Charter,1635,1635,1635,1635,1635,1635,1635,1635,1635,1635,1635
Wilson High School,Charter,2283,2283,2283,2283,2283,2283,2283,2283,2283,2283,2283
Wright High School,Charter,1800,1800,1800,1800,1800,1800,1800,1800,1800,1800,1800

In [32]:
students=summary_table["name"].count()
budget =summary_table["budget"].mean()
budget_per_student= budget/students

avg_math=summary_table['math_score'].mean()
avg_reading=summary_table['reading_score'].mean()
math_count=summary_table["math"].sum()
read_count=summary_table["reading"].sum()
percent_pass_math=(math_count/students)*100
percent_pass_read=(read_count/students)*100
overall_pass=(percent_pass_math+percent_pass_read)/2

In [33]:
School_summary_table=pd.DataFrame({
                                    "% Overall Passing Rate": overall_pass,
                                    "% Passing Reading": percent_pass_read,
                                    "% Passing Math": percent_pass_math,
                                    "Average Reading Score": avg_reading,
                                    "Per Student Budget": budget_per_student,
                                    "Average Math Score": avg_math,
                                    "Total Budget": budget,
                                    "Total Students": students
                                  })
School_summary_table

,,% Overall Passing Rate,% Passing Math,% Passing Reading,Average Math Score,Average Reading Score,Per Student Budget,Total Budget,Total Students
School Name,type,,,,,,,,
Bailey High School,District,74.306672,66.680064,81.933280,77.048432,81.033963,628.0,3124928,4976
Cabrera High School,Charter,95.586652,94.133477,97.039828,83.061895,83.975780,582.0,1081356,1858
Figueroa High School,District,73.363852,65.988471,80.739234,76.711767,81.158020,639.0,1884411,2949
Ford High School,District,73.804308,68.309602,79.299014,77.102592,80.746258,644.0,1763916,2739
Griffin High School,Charter,95.265668,93.392371,97.138965,83.351499,83.816757,625.0,917500,1468
Hernandez High School,District,73.807983,66.752967,80.862999,77.289752,80.934412,652.0,3022020,4635
Holden High School,Charter,94.379391,92.505855,96.252927,83.803279,83.814988,581.0,248087,427
Huang High School,District,73.500171,65.683922,81.316421,76.629414,81.182722,655.0,1910635,2917
Johnson High School,District,73.639992,66.057551,81.222432,77.072464,80.966394,650.0,3094650,4761
Pena High School,Charter,95.270270,94.594595,95.945946,83.839917,84.044699,609.0,585858,962
Rodriguez High School,District,73.293323,66.366592,80.220055,76.842711,80.744686,637.0,2547363,3999
Shelton High School,Charter,94.860875,93.867121,95.854628,83.359455,83.725724,600.0,1056600,1761
Thomas High School,Charter,95.290520,93.272171,97.308869,83.418349,83.848930,638.0,1043130,1635
Wilson High School,Charter,95.203679,93.867718,96.539641,83.274201,83.989488,578.0,1319574,2283
Wright High School,Charter,94.972222,93.333333,96.611111,83.682222,83.955000,583.0,1049400,1800

In [34]:
top_schools=School_summary_table.sort_values("% Overall Passing Rate", ascending=False)
top_schools.head(5)

,,% Overall Passing Rate,% Passing Math,% Passing Reading,Average Math Score,Average Reading Score,Per Student Budget,Total Budget,Total Students
School Name,type,,,,,,,,
Cabrera High School,Charter,95.586652,94.133477,97.039828,83.061895,83.975780,582.0,1081356,1858
Thomas High School,Charter,95.290520,93.272171,97.308869,83.418349,83.848930,638.0,1043130,1635
Pena High School,Charter,95.270270,94.594595,95.945946,83.839917,84.044699,609.0,585858,962
Griffin High School,Charter,95.265668,93.392371,97.138965,83.351499,83.816757,625.0,917500,1468
Wilson High School,Charter,95.203679,93.867718,96.539641,83.274201,83.989488,578.0,1319574,2283

In [35]:
bottom_schools=School_summary_table.sort_values("% Overall Passing Rate", ascending=True)
bottom_schools.head(5)

,,% Overall Passing Rate,% Passing Math,% Passing Reading,Average Math Score,Average Reading Score,Per Student Budget,Total Budget,Total Students
School Name,type,,,,,,,,
Rodriguez High School,District,73.293323,66.366592,80.220055,76.842711,80.744686,637.0,2547363,3999
Figueroa High School,District,73.363852,65.988471,80.739234,76.711767,81.158020,639.0,1884411,2949
Huang High School,District,73.500171,65.683922,81.316421,76.629414,81.182722,655.0,1910635,2917
Johnson High School,District,73.639992,66.057551,81.222432,77.072464,80.966394,650.0,3094650,4761
Ford High School,District,73.804308,68.309602,79.299014,77.102592,80.746258,644.0,1763916,2739

In [36]:
ninth_grade=merged_tables.loc[merged_tables["grade"]=="9th"].groupby("School Name")["math_score"].mean()
tenth_grade=merged_tables.loc[merged_tables["grade"]=="10th"].groupby("School Name")["math_score"].mean()
eleventh_grade=merged_tables.loc[merged_tables["grade"]=="11th"].groupby("School Name")["math_score"].mean()
twelve_grade=merged_tables.loc[merged_tables["grade"]=="12th"].groupby("School Name")["math_score"].mean()

math_table=pd.DataFrame({
                                    "9th": ninth_grade,
                                    "10th": tenth_grade,
                                    "11th": eleventh_grade,
                                    "12th": twelve_grade,
                                    })
math_table

                            10th       11th       12th        9th
School Name
Bailey High School     76.996772  77.515588  76.492218  77.083676
Cabrera High School    83.154506  82.765560  83.277487  83.094697
Figueroa High School   76.539974  76.884344  77.151369  76.403037
Ford High School       77.672316  76.918058  76.179963  77.361345
Griffin High School    84.229064  83.842105  83.356164  82.044010
Hernandez High School  77.337408  77.136029  77.186567  77.438495
Holden High School     83.429825  85.000000  82.855422  83.787402
Huang High School      75.908735  76.446602  77.225641  77.027251
Johnson High School    76.691117  77.491653  76.863248  77.187857
Pena High School       83.372000  84.328125  84.121547  83.625455
Rodriguez High School  76.612500  76.395626  77.690748  76.859966
Shelton High School    82.917411  83.383495  83.778976  83.420755
Thomas High School     83.087886  83.498795  83.497041  83.590022
Wilson High School     83.724422  83.195326  83.035794  83.085578
Wright High School     84.010288  83.836782  83.644986  83.264706

In [37]:
ninth_grade=merged_tables.loc[merged_tables["grade"]=="9th"].groupby("School Name")["reading_score"].mean()
tenth_grade=merged_tables.loc[merged_tables["grade"]=="10th"].groupby("School Name")["reading_score"].mean()
eleventh_grade=merged_tables.loc[merged_tables["grade"]=="11th"].groupby("School Name")["reading_score"].mean()
twelve_grade=merged_tables.loc[merged_tables["grade"]=="12th"].groupby("School Name")["reading_score"].mean()

reading_table=pd.DataFrame({
                                    "9th": ninth_grade,
                                    "10th": tenth_grade,
                                    "11th": eleventh_grade,
                                    "12th": twelve_grade,
                                    })
reading_table

                            10th       11th       12th        9th
School Name
Bailey High School     80.907183  80.945643  80.912451  81.303155
Cabrera High School    84.253219  83.788382  84.287958  83.676136
Figueroa High School   81.408912  80.640339  81.384863  81.198598
Ford High School       81.262712  80.403642  80.662338  80.632653
Griffin High School    83.706897  84.288089  84.013699  83.369193
Hernandez High School  80.660147  81.396140  80.857143  80.866860
Holden High School     83.324561  83.815534  84.698795  83.677165
Huang High School      81.512386  81.417476  80.305983  81.290284
Johnson High School    80.773431  80.616027  81.227564  81.260714
Pena High School       83.612000  84.335938  84.591160  83.807273
Rodriguez High School  80.629808  80.864811  80.376426  80.993127
Shelton High School    83.441964  84.373786  82.781671  84.122642
Thomas High School     84.254157  83.585542  83.831361  83.728850
Wilson High School     84.021452  83.764608  84.317673  83.939778
Wright High School     83.812757  84.156322  84.073171  83.833333

In [44]:
bins=[550,580,600,655]
group_names=['low_cost','med_cost','high_cost']
pd.cut(School_summary_table["Per Student Budget"], bins, labels=group_names)

School Name            type
Bailey High School     District    high_cost
Cabrera High School    Charter      med_cost
Figueroa High School   District    high_cost
Ford High School       District    high_cost
Griffin High School    Charter     high_cost
Hernandez High School  District    high_cost
Holden High School     Charter      med_cost
Huang High School      District    high_cost
Johnson High School    District    high_cost
Pena High School       Charter     high_cost
Rodriguez High School  District    high_cost
Shelton High School    Charter      med_cost
Thomas High School     Charter     high_cost
Wilson High School     Charter      low_cost
Wright High School     Charter      med_cost
Name: Per Student Budget, dtype: category
Categories (3, object): [low_cost < med_cost < high_cost]

In [45]:
School_summary_table["School Spending"]=pd.cut(School_summary_table["Per Student Budget"], bins, labels=group_names)
School_summary_table

,,% Overall Passing Rate,% Passing Math,% Passing Reading,Average Math Score,Average Reading Score,Per Student Budget,Total Budget,Total Students,School Spending
School Name,type,,,,,,,,,
Bailey High School,District,74.306672,66.680064,81.933280,77.048432,81.033963,628.0,3124928,4976,high_cost
Cabrera High School,Charter,95.586652,94.133477,97.039828,83.061895,83.975780,582.0,1081356,1858,med_cost
Figueroa High School,District,73.363852,65.988471,80.739234,76.711767,81.158020,639.0,1884411,2949,high_cost
Ford High School,District,73.804308,68.309602,79.299014,77.102592,80.746258,644.0,1763916,2739,high_cost
Griffin High School,Charter,95.265668,93.392371,97.138965,83.351499,83.816757,625.0,917500,1468,high_cost
Hernandez High School,District,73.807983,66.752967,80.862999,77.289752,80.934412,652.0,3022020,4635,high_cost
Holden High School,Charter,94.379391,92.505855,96.252927,83.803279,83.814988,581.0,248087,427,med_cost
Huang High School,District,73.500171,65.683922,81.316421,76.629414,81.182722,655.0,1910635,2917,high_cost
Johnson High School,District,73.639992,66.057551,81.222432,77.072464,80.966394,650.0,3094650,4761,high_cost
Pena High School,Charter,95.270270,94.594595,95.945946,83.839917,84.044699,609.0,585858,962,high_cost
Rodriguez High School,District,73.293323,66.366592,80.220055,76.842711,80.744686,637.0,2547363,3999,high_cost
Shelton High School,Charter,94.860875,93.867121,95.854628,83.359455,83.725724,600.0,1056600,1761,med_cost
Thomas High School,Charter,95.290520,93.272171,97.308869,83.418349,83.848930,638.0,1043130,1635,high_cost
Wilson High School,Charter,95.203679,93.867718,96.539641,83.274201,83.989488,578.0,1319574,2283,low_cost
Wright High School,Charter,94.972222,93.333333,96.611111,83.682222,83.955000,583.0,1049400,1800,med_cost

In [54]:
spending_table=School_summary_table.groupby("School Spending")
spending_table.mean()

,% Overall Passing Rate,% Passing Math,% Passing Reading,Average Math Score,Average Reading Score,Per Student Budget,Total Budget,Total Students
School Spending,,,,,,,,
low_cost,95.203679,93.867718,96.539641,83.274201,83.989488,578.0,1319574.00,2283.0
med_cost,94.949785,93.459946,96.439624,83.476713,83.867873,586.5,858860.75,1461.5
high_cost,80.154276,74.709830,85.598721,78.930690,81.847684,637.7,1989441.10,3104.1

In [62]:
bins=[750,1700,3500,5000]
group_names=['small','medium','large']
pd.cut(merged_tables["size"], bins, labels=group_names)

0        medium
1        medium
2        medium
3        medium
4        medium
5        medium
6        medium
7        medium
8        medium
9        medium
10       medium
11       medium
12       medium
13       medium
14       medium
15       medium
16       medium
17       medium
18       medium
19       medium
20       medium
21       medium
22       medium
23       medium
24       medium
25       medium
26       medium
27       medium
28       medium
29       medium
          ...
39140     small
39141     small
39142     small
39143     small
39144     small
39145     small
39146     small
39147     small
39148     small
39149     small
39150     small
39151     small
39152     small
39153     small
39154     small
39155     small
39156     small
39157     small
39158     small
39159     small
39160     small
39161     small
39162     small
39163     small
39164     small
39165     small
39166     small
39167     small
39168     small
39169     small
Name: size, Length: 39170, dtype: category
Categories (3, object): [small < medium < large]

In [63]:
merged_tables["Scores by Size"]=pd.cut(merged_tables["size"], bins, labels=group_names)
merged_tables

,School ID,School Name,type,size,budget,Student ID,name,gender,grade,reading_score,math_score,math,reading,Scores by Size
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79,1,0,medium
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61,0,1,medium
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60,0,1,medium
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58,0,0,medium
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84,1,1,medium
5,0,Huang High School,District,2917,1910635,5,Bryan Miranda,M,9th,94,94,1,1,medium
6,0,Huang High School,District,2917,1910635,6,Sheena Carter,F,11th,82,80,1,1,medium
7,0,Huang High School,District,2917,1910635,7,Nicole Baker,F,12th,96,69,0,1,medium
8,0,Huang High School,District,2917,1910635,8,Michael Roth,M,10th,95,87,1,1,medium
9,0,Huang High School,District,2917,1910635,9,Matthew Greene,M,10th,96,84,1,1,medium
10,0,Huang High School,District,2917,1910635,10,Andrew Alexander,M,10th,90,70,1,1,medium
11,0,Huang High School,District,2917,1910635,11,Daniel Cooper,M,10th,78,77,1,1,medium
12,0,Huang High School,District,2917,1910635,12,Brittney Walker,F,9th,64,79,1,0,medium
13,0,Huang High School,District,2917,1910635,13,William Long,M,9th,71,79,1,1,medium
14,0,Huang High School,District,2917,1910635,14,Tammy Hebert,F,10th,85,67,0,1,medium
15,0,Huang High School,District,2917,1910635,15,Dr. Jordan Carson,M,11th,94,88,1,1,medium
16,0,Huang High School,District,2917,1910635,16,Donald Zamora,M,9th,88,55,0,1,medium
17,0,Huang High School,District,2917,1910635,17,Kimberly Santiago,F,9th,74,75,1,1,medium
18,0,Huang High School,District,2917,1910635,18,Kevin Stevens,M,9th,64,69,0,0,medium
19,0,Huang High School,District,2917,1910635,19,Brandi Lyons,F,9th,89,80,1,1,medium
20,0,Huang High School,District,2917,1910635,20,Lisa Davis,F,10th,91,89,1,1,medium
21,0,Huang High School,District,2917,1910635,21,Kristen Lopez,F,10th,90,77,1,1,medium
22,0,Huang High School,District,2917,1910635,22,Kimberly Stewart,F,11th,99,84,1,1,medium
23,0,Huang High School,District,2917,1910635,23,Christopher Parker,M,9th,81,68,0,1,medium
24,0,Huang High School,District,2917,1910635,24,Chelsea Griffith,F,11th,85,73,1,1,medium
25,0,Huang High School,District,2917,1910635,25,Cesar Morris,M,9th,92,70,1,1,medium
26,0,Huang High School,District,2917,1910635,26,Melanie Decker,F,9th,63,85,1,0,medium
27,0,Huang High School,District,2917,1910635,27,Tracey Oconnor,F,10th,80,58,0,1,medium
28,0,Huang High School,District,2917,1910635,28,Kelly James,F,11th,73,55,0,1,medium
29,0,Huang High School,District,2917,1910635,29,Nicole Brown,F,12th,90,88,1,1,medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39140,14,Thomas High School,Charter,1635,1043130,39140,Cheyenne Hernandez,F,9th,76,99,1,1,small
39141,14,Thomas High School,Charter,1635,1043130,39141,Jonathan Sullivan,M,10th,86,93,1,1,small
39142,14,Thomas High School,Charter,1635,1043130,39142,Deborah Higgins DDS,F,10th,96,83,1,1,small
39143,14,Thomas High School,Charter,1635,1043130,39143,Steven Jackson,M,11th,71,93,1,1,small
39144,14,Thomas High School,Charter,1635,1043130,39144,Cristian Webster,M,12th,77,87,1,1,small
39145,14,Thomas High School,Charter,1635,1043130,39145,Audrey Fry,F,10th,94,74,1,1,small
39146,14,Thomas High School,Charter,1635,1043130,39146,Michael Carroll,M,9th,69,95,1,0,small
39147,14,Thomas High School,Charter,1635,1043130,39147,Raymond Hawkins,M,10th,88,81,1,1,small
39148,14,Thomas High School,Charter,1635,1043130,39148,Christopher Wilson,M,10th,89,89,1,1,small
39149,14,Thomas High School,Charter,1635,1043130,39149,Glenda Fletcher,F,11th,82,93,1,1,small
39150,14,Thomas High School,Charter,1635,1043130,39150,Jennifer Hamilton,F,11th,80,75,1,1,small
39151,14,Thomas High School,Charter,1635,1043130,39151,Shannon Williams,F,10th,84,73,1,1,small
39152,14,Thomas High School,Charter,1635,1043130,39152,Lori Moore,F,9th,98,84,1,1,small
39153,14,Thomas High School,Charter,1635,1043130,39153,William Hubbard,M,9th,80,75,1,1,small
39154,14,Thomas High School,Charter,1635,1043130,39154,Bradley Johnson,M,12th,91,71,1,1,small
39155,14,Thomas High School,Charter,1635,1043130,39155,John Brooks,M,10th,92,98,1,1,small
39156,14,Thomas High School,Charter,1635,1043130,39156,Stephanie Contreras,F,11th,79,95,1,1,small
39157,14,Thomas High School,Charter,1635,1043130,39157,Kristen Gonzalez,F,9th,79,94,1,1,small
39158,14,Thomas High School,Charter,1635,1043130,39158,Kari Holloway,F,10th,87,90,1,1,small
39159,14,Thomas High School,Charter,1635,1043130,39159,Kimberly Cabrera,F,11th,85,72,1,1,small
39160,14,Thomas High School,Charter,1635,1043130,39160,Katie Weaver,F,11th,89,86,1,1,small
39161,14,Thomas High School,Charter,1635,1043130,39161,April Reyes,F,10th,70,84,1,1,small
39162,14,Thomas High School,Charter,1635,1043130,39162,Derek Weeks,M,12th,94,77,1,1,small
39163,14,Thomas High School,Charter,1635,1043130,39163,John Reese,M,11th,90,75,1,1,small
39164,14,Thomas High School,Charter,1635,1043130,39164,Joseph Anthony,M,9th,97,76,1,1,small
39165,14,Thomas High School,Charter,1635,1043130,39165,Donna Howard,F,12th,99,90,1,1,small
39166,14,Thomas High School,Charter,1635,1043130,39166,Dawn Bell,F,10th,95,70,1,1,small
39167,14,Thomas High School,Charter,1635,1043130,39167,Rebecca Tanner,F,9th,73,84,1,1,small
39168,14,Thomas High School,Charter,1635,1043130,39168,Desiree Kidd,F,10th,99,90,1,1,small
39169,14,Thomas High School,Charter,1635,1043130,39169,Carolyn Jackson,F,11th,95,75,1,1,small

In [64]:
size_table=merged_tables.groupby("Scores by Size")
students=size_table["name"].count()

avg_math=size_table['math_score'].mean()
avg_reading=size_table['reading_score'].mean()
math_count=size_table["math"].sum()
read_count=size_table["reading"].sum()
percent_pass_math=(math_count/students)*100
percent_pass_read=(read_count/students)*100
overall_pass=(percent_pass_math+percent_pass_read)/2

size_summary_table=pd.DataFrame({
                                    "Average Math Score": avg_math,
                                    "Per Student Budget": budget_per_student,
                                    "Average Reading Score": avg_reading,
                                    "% Passing Math": percent_pass_math,
                                    "% Passing Reading": percent_pass_read,
                                    "% Overall Passing Rate": overall_pass
                                    })
School_summary_table

In [65]:
size_summary_table=pd.DataFrame({
                                    "Average Math Score": avg_math,
                                    "Average Reading Score": avg_reading,
                                    "% Passing Math": percent_pass_math,
                                    "% Passing Reading": percent_pass_read,
                                    "% Overall Passing Rate": overall_pass
                                    })
size_summary_table

,% Overall Passing Rate,% Passing Math,% Passing Reading,Average Math Score,Average Reading Score
Scores by Size,,,,,
small,95.276753,93.628536,96.924969,83.493973,83.883641
medium,83.758509,79.462807,88.054210,79.892255,82.396762
large,73.787491,66.468891,81.106091,77.070764,80.928365

In [66]:
type_table=merged_tables.groupby("type")
students=type_table["name"].count()

avg_math=type_table['math_score'].mean()
avg_reading=type_table['reading_score'].mean()
math_count=type_table["math"].sum()
read_count=type_table["reading"].sum()
percent_pass_math=(math_count/students)*100
percent_pass_read=(read_count/students)*100
overall_pass=(percent_pass_math+percent_pass_read)/2

In [67]:
type_table=pd.DataFrame({
                                    "Average Math Score": avg_math,
                                    "Average Reading Score": avg_reading,
                                    "% Passing Math": percent_pass_math,
                                    "% Passing Reading": percent_pass_read,
                                    "% Overall Passing Rate": overall_pass
                                    })
type_table

,% Overall Passing Rate,% Passing Math,% Passing Reading,Average Math Score,Average Reading Score
type,,,,,
Charter,95.173856,93.701821,96.645891,83.406183,83.902821
District,73.711818,66.518387,80.905249,76.987026,80.962485